    /*CONTACT SECTION*/
    
    #contact {
        padding: 100px 15px;
    }
    
    #contact .section-title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
        color: #111135;
        text-decoration: underline;
        text-decoration-color: #d3d3d3;
        text-decoration-thickness: 3px;
    }
    
    #contact .section-title {
        margin-bottom: 20px;
    }
    
    #contact .form-container {
        max-width: 1100px;
        margin: auto;
    }
    
    #contact .form-container .row {
        margin-bottom: 15px;
    }
    
    #contact .form-container .half {
        display: block;
        justify-content: space-between;
    }
    
    .form-container div {
        display: block;
    }
    
    .form-container div input {
        margin-bottom: 20px;
    }
    
    .row div {
        width: 100%;
    }
    
    label {
        padding-left: 5px;
        font-weight: bold;
    }
    
    #contact .form-container input,
    #contact .form-container textarea {
        padding: 10px;
        margin-top: 5px;
        border-radius: 10px;
        border: none;
        border: 1px solid #919191;
    }
    
    #contact .form-container .half input {
        width: 100%;
    }
    
    #contact .form-container .full-input {
        width: 100%;
    }
    
    #contact .btn-send {
        display: block;
        margin: auto;
        cursor: pointer;
        transition: .5s;
        padding: 10px 15px;
        font-size: 18px;
        font-weight: bold;
    }
    
    #contact .btn-send:hover {
        background-color: #0c1884;
        color: #fff;
    }
    
    #mailto {
        opacity: 0;
    }
    
    @media screen and (max-width:800px) {
        #contact {
            padding: 50px 15px;
        }
        #contact .form-container .half {
            margin-bottom: 15px;
            display: block;
        }
        #contact .form-container .half input {
            width: 100%;
            margin-bottom: 15px;
        }
    }