/*SERVICES SECTION*/

#educations {
    padding: 100px 15px;
    text-align: center;
    background: linear-gradient(#6b6589cc, rgb(205, 204, 209));
}

#educations .section-title {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#educations .row {
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    margin: 30px auto;
}

#educations .row .education {
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#educations .row .education:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#educations .row .education h4 {
    font-size: 32px;
    margin-bottom: 25px;
}

#educations .row .education hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#educations .row .education p {
    color: #000;
    margin-bottom: 5px;
    font-weight: bold;
}

.alura {
    margin-top: 55px !important;
}

.politecnico {
    width: 90%;
}

#educations .row .education ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#educations .row .education p {
    font-size: 14px;
    line-height: 22px;
}

@media screen and (max-width:800px) {
    #educations {
        padding: 50px 15px;
    }
    #educations .row {
        display: block;
    }
    #educations .row .education {
        margin: 10px auto;
    }
}