/*SKILLS SECTION*/

.skills-container {
    background: linear-gradient(#3f2aa9cc, rgb(16, 12, 24)), url('../img/skills-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
    text-align: center;
}

.skills-container h3,
p,
span {
    color: #fff;
    margin-bottom: 50px;
}

.skills-container .skill {
    max-width: 100%;
    padding-left: 15%;
    display: flex;
}

.skills-container .skill .info {
    display: flex;
    align-items: center;
}

ul {
    flex-wrap: wrap;
}

.skills-container .skill .list ul,
li {
    margin-right: 50px;
    margin-bottom: 20px;
    list-style: none;
}

.list i {
    margin-right: 5px;
}

@media screen and (max-width:800px) {
    #skills-container {
        padding: 50px 20px;
    }
    .list p {
        font-size: 20px;
    }
}