/*SKILLS SECTION*/

.skills-container {
    background: linear-gradient(#3f2aa9cc, rgb(16, 12, 24)), url('../img/skills-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.skills-container h3,
p,
span {
    color: #fff;
}

.skills-container .skill {
    max-width: 600px;
    margin: 30px auto;
}

.skills-container .skill .info {
    display: flex;
    justify-content: space-between;
}

.skills-container .skill .list {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

@media screen and (max-width:800px) {
    #skills-container {
        padding: 50px 20px;
    }
}