@import url('../css.css');

.footer-container{
    letter-spacing: 1px;
    font-family: var(--font);
    font-size: 12px;
    padding: 15px 0;
    color: #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icons{
    margin-top: 15px;
}
.icon{
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
}
.facebook{
    color: #0c37f6;
}
.facebook:hover{
    color: #0c37f690;
}
.linkedin{
    color: #076acd;
}
.linkedin:hover{
    color: #076acda7;
}
.instagram{
    color: #d24cd2;;
}
.instagram:hover{
    color: #b028ffc0;
}
.github{
    color: #FFFFFF;
}
.github:hover{
    color: #ffffffb7;
}
.gmail{
    color: #f43a3a;
}
.gmail:hover{
    color: #d52929;
}
.twitter{
    color: #03afff;
}
.twitter:hover{
    color: #03afffae;
}