@import url('./css.css');
*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{   
    width: 15px;
}
::-webkit-scrollbar-track {
    background: var(--second-blue);
}
::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    transition: .3s;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #270ec950;
    transition: .3s;
}